.message_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  padding: 1.25rem 1rem;
}

.message_list::-webkit-scrollbar {
  width: 0.25rem;
}

.message_list::-webkit-scrollbar-track {
  background: #1e1e24;
}

.message_list::-webkit-scrollbar-thumb {
  background: #171b27;
}

.image_message {
  border-radius: 0.925rem 0.925rem 0.925rem 0;
  border: 4px solid #2e619f;
  object-fit: cover;
  height: auto;
  width: 250px;
}

.video_message {
  border-radius: 0.925rem 0.925rem 0.925rem 0;
  border: 4px solid #2e619f;
  object-fit: cover;
  height: auto;
  width: 250px;
}
