.App {
  text-align: center;
  position: relative;
  z-index: 1;
  bottom: 0;
  margin-bottom: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  background-color: #0d3b66;
  cursor: pointer;
  padding: 1rem;
  font-size: 4.5rem;
}

.modal {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.modal-content button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  height: fit-content;
  cursor: pointer;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-close {
  cursor: pointer;
  font-size: 1.5rem;
  color: #999;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-body {
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  gap: 5rem;

  height: 25%;
  width: 25%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  background-color: #0d3b66;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  background-color: #0d3b66;
  cursor: pointer;
  padding: 1rem;
  font-size: 4.5rem;
}
